<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Existing Item</title>
</head>

<body>
    <h1>
        <%= findProduct.name%>
    </h1>
    <form action="/product/<%=findProduct._id %>?_method=PUT" method="post">
        <label for="name"> Product Name</label>
        <input type="text" name="name" id="name" placeholder="add product name" value="<%=findProduct.name %>">
        <label for="price"> Enter Price</label>
        <input type="number" name="price" id="price" value="<%=findProduct.price %>">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>

        <button>submit</button>
        <a href="/product"> Go back to product page</a>
    </form>
</body>

</html>