<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product</title>
</head>

<body>
    <h1>Add New Product for <%=farm.name%>
    </h1>

    <form action="/farms/<%=farm._id%>/products" method="post">
        <label for="name"> Product Name</label>
        <input type="text" name="name" id="name" placeholder="add product name">
        <label for="price"> Enter Price</label>
        <input type="number" name="price" id="price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>

        <button>submit</button>
        <a href="/farms/<%=farm._id%>"> Go back to Farms page</a>
    </form>
</body>

</html>