<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Demo</title>
</head>

<body>
    <h1>About me <%= 'Hello World' .toUpperCase()%>
    </h1>
    <p> An individual trying to make a name for himself. This page is being rendered based on the data passed by express
        and the rendering is made possible by EJS.</p>
</body>

</html>